// Do not change this file, copy and remove extension '.dist'

const GOOGLE_CLIENT_ID = '--add-your-client-id--';
const GOOGLE_CLIENT_SECRET = '--add-your-secret--';
const GOOGLE_REDIRECT_URI = '--add-your-redirect-uri--';
const SECRET_KEY = '--your-strong-secret-key--';
const TOKEN_EXPIRES_IN = '3h';

module.exports = Object.freeze({
  GOOGLE: {
    CLIENT_ID: GOOGLE_CLIENT_ID,
    CLIENT_SECRET: GOOGLE_CLIENT_SECRET,
    REDIRECT_URI: GOOGLE_REDIRECT_URI
  },
  SECRET_KEY,
  TOKEN_EXPIRES_IN
});
